<% if user_signed_in? %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1>Welcome back!</h1>
    </div>
  </div>
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>&#128248 Welcome to Pixel Playground! &#127752</h1>
      <p>This is a template for a simple marketing or informational website.
      It includes a large callout called a jumbotron and three supporting
      pieces of of content. Use it as a starting point to create something
      unique</p>
      <%= link_to "Learn More", "#", class: "btn btn-primary btn-md" %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="header col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= asset_path('family.jpg')%>" alt="Card image">          <div class="card-body">
            <h3 class="card-title">Family 🏡</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Placeat praesentium corrupti odit asperiores perferendis vero eum
            fugiat rerum soluta velit, dicta dolores in, quam cupiditate neque
            eius, maiores iure dolor!</p>
            <%= link_to "View details", "#", class: "btn btn-secondary" %>
          </div>
        </div>
      </div>

      <div class="header col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= asset_path('leisure.jpg')%>" alt="Card image">
          <div class="card-body">
            <h3 class="card-title">Leisure 🏖</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Placeat praesentium corrupti odit asperiores perferendis vero eum
            fugiat rerum soluta velit, dicta dolores in, quam cupiditate neque
            eius, maiores iure dolor!</p>
            <%= link_to "View details", "#", class: "btn btn-secondary" %>
          </div>
        </div>
      </div>

      <div class="header col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= asset_path('coding.jpg')%>" alt="Card image">
          <div class="card-body">
            <h3 class="card-title">Coding ⚙</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Placeat praesentium corrupti odit asperiores perferendis vero eum
            fugiat rerum soluta velit, dicta dolores in, quam cupiditate neque
            eius, maiores iure dolor!</p>
            <%= link_to "View details", "#", class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
